@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  border-radius: 0;
  overflow: hidden;
  background-color: rgb(193, 250, 250);
}

.th-border-bottom {
  height: 1px;
  padding: 0;
  background-color: #6b7280;
}
